<!-- Please typing your favorite word!-->
<div id="ui">
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
  <div class="text">Welcome to Manage University</div>
</div>
  
  
